@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: linear-gradient(to right, #00416a, #e4e5e6);
color: #F9FAF5;
font-weight: bold;
font-family: "Rancho";
}

header {
  font-size: 2rem;
}

h1{
    font-size: 80px;
}


header,
form {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input{
 padding: 10px;
  font-size: 40px;
  border: none;
  background: white;
  width: 43.5%;

}
form button {
  padding: 10px;
  font-size: 40px;
  border: none;
  background: white;
  color: white;
  background: linear-gradient(to right, #38ef7d, #11998e);
  cursor: pointer;

}

form button:hover {
  background: #11998e;
  color: #38ef7d;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 47%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 35px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.trash-btn {
 background: linear-gradient(to right, #ff4b1f, #ff9068);
   border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  color: white;
  
}

.trash-btn:hover {
  background: #ff4b1f;
  color: #ff9068;
}



.todo-item {
  padding: 2px 4px;
}

.counter{
    text-align: center;
    font-size: 30px;
}


input.todo-input:focus {
    outline-width: 0;
}




